<footer class="py-5 bg-dark container-fluid">
    <div class="row ">
        <div class="col-md-4 text-center text-white">
            <h5>
                <strong>Site Haritası</strong>
            </h5>
            <hr class="bg-white" />
            <p>
                <h5><a id="clearLink" href="/Home/MostLiked"><i class="fa fa-heart"></i> En Beğenilenler</a></h5>
                <h5><a id="clearLink" href="/Home/Index"><i class="fa fa-th-list"></i> Son Yazılanlar</a></h5>
                <h5><a id="clearLink" href="/Home/About"><i class="fa fa-info-circle"></i> Hakkımızda</a></h5>
            </p>

        </div>
        <div class="col-md-4 text-center text-white">
            <h5>
                <strong>Note Sharing Platform</strong>
            </h5>
            <hr class="bg-white" />
            <p>
                Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            </p>
            <p>
                Tüm hakları saklıdır &copy; Note Sharing Platform @DateTime.Now.Year
            </p>

        </div>
        <div class="col-md-4 text-center text-white">
            <h5>
                <strong>E-Bülten Üyeliği</strong>
            </h5>
            <hr class="bg-white" />

            <div class="col-md-12 row justify-content-center ">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicu
                </p>
                <div class="col col-md-7"><input type="email" placeholder="E-Posta adresiniz" autocomplete="off" name="name" class="form-control " /></div>
                <button type="submit" class="btn  btn-success"><span class="fa fa-send"></span> Gönder</button>
            </div>

        </div>
    </div>

    <!-- /.container -->
</footer>
