@using NoteSharingPlatform.WEB.UI.Models
@using NoteSharingPlatform.ENTITY.Models

@{ 
    List<Category> list = CacheHelper.GetCategoriesFromCache();
}

<h2 class="my-4">Kategoriler</h2>
<div class="list-group">

    <a id="myCategory" href="/Home/Index"  class="list-group-item"> <i class="fa fa-arrow-right"></i>&nbsp; Tüm Kategoriler</a>

    @foreach (Category category in list)
    {
        <a id="myCategory" href="/Home/ByCategory/@category.Id" title="@category.Description" class="list-group-item"> <i class="fa fa-arrow-right"></i>&nbsp; @category.Title</a>
    }
</div>