@using NoteSharingPlatform.ENTITY.ViewModels
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
    <link href="~/Content/Validation-Summary.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div>
        <div class="login-box">

            @Html.ValidationSummary(false)
            <br /><br />

            <form method="post">
                <div class="input-section">
                    <i class="far fa-user"></i>
                    @Html.TextBoxFor(x => x.Username, new { @class = "input-area", placeholder = "Kullanıcı adı", autocomplete = "off" })
                </div>
                <div class="input-section">
                    <i class="fas fa-lock"></i>
                    @Html.TextBoxFor(x => x.Password, new { @class = "input-area", placeholder = "Şifre", type = "password" })
                </div>

                <button type="submit" class="btn" id="login-btn">Giriş yap</button>
            </form>
            <div class="question-box">
                <p class="question">Kayıt olmak ister misin?</p><a class="reg-btn" href="#">Kayıt ol</a>
            </div>
        </div>
        <div class="success-box">
            <h1>You have been logged in!</h1>
        </div>
    </div>
</body>
</html>
