
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterOK</title>
</head>
<body>
    <div> 
        
        <h1>Kayıt işlemi başarılı. </h1>
        
        <h3>Lütfen e-posta adresinizi gönderilen aktivasyon linkini onaylayınız. Hesabınızı aktivi etmeden not ekleyemez ve beğenme yapamazsınız.</h3>

        <h5>Yönlendiriliyorsunuz...</h5>
    </div>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function () {
        setTimeout(function () {
            window.location ="/Home/Index"
        }, 5000)
    })
</script>
