
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Activate OK</title>
</head>
<body>
    <div>

        <h1>Hesap aktifleştirildi. </h1>

        <h3>Hesabınız aktifleştirldi.Artık not paylaşabilir ve beğenme yapabilirsiniz.</h3>

        <h5>Yönlendiriliyorsunuz...</h5>
    </div>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function () {
        setTimeout(function () {
            window.location ="/Home/Index"
        }, 5000)
    })
</script>
