
@{
    ViewBag.Title = "ShowProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .myImage{
        width:100%;
        height:300px;
        filter:blur(2px);
        border-radius:100px;
        margin-bottom:1%;
    }
    .myProfileImage
    {
        width:15%;
        margin-top:-9%;
        position:relative;
    }


</style>

<div class="">
    <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/03/62/30/9157aa94e693d90.jpg" class="img-fluid myImage" alt="Responsive image">
    <div class="container ">
        <img src="~/Images/DefaultProfileImage.png" class="myProfileImage rounded mx-auto d-block" alt="Alternate Text" />
        <hr /><hr />

              <h3>Ad - Soyad : Muhammed Emin Karaarslan</h3>
              <h3>E-Mail : muhammed.e.karaarslan@gmail.com</h3>

    </div>

</div>

